.venv/
env-langchain/
env-finetune/
env-unsloth/

# Ignorar los datasets pero la carpeta que si exista
datasets/*
!datasets/.gitkeep

trained_models/*
!trained_models/.gitkeep

trained_models/cache/*
!trained_models/.gitkeep

__pycache__/